@model JobCardSystem.Core.ViewModels.JobCardViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<h2>Update Job Card</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



        @*<div class="form-group">
            @Html.LabelFor(model => model.ScheduledFor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScheduledFor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ScheduledFor, "", new { @class = "text-danger" })
            </div>
        </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArrivalTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArrivalTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.JobStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.JobStatusId,
                    new SelectList(Model.JobStatuses, "Id", "Name"), "Select Job Status",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.JobStatusId, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
            @Html.LabelFor(m => m.CustomerId, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.CustomerId,
                    new SelectList(Model.Customers, "Id", "Name"), "Select Customer",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(m => m.ApplicationUserIdArray, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.ListBoxFor(m => m.ApplicationUserIdArray, new MultiSelectList(Model.GetStaffDisplayNames(), "Id", "DisplayName"),
                    new {id = "staffMultiSelector", multiple = "multiple"})
                @Html.ValidationMessageFor(m => m.ApplicationUserIdArray, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    <script>
        $(function() {
            $("#staffMultiSelector").chosen({
                width: "100%",
                disable_search_threshold: 5
            });
        });

        $('#staffMultiSelector')
            .attr('data-placeholder', 'Select and add staff to the list.');

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
