@using JobCardSystem.Core.ViewModels
@model IEnumerable<StockItemViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model) {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Supplier.Name)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Name)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Description)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.QuantityAvailable)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.DisplayCost)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.DisplaySellingPrice)
                 </td>
                 <td>
                     <img style="height: 30px; max-width: 30px;" src="~/Content/Assets/Images/StockPictures/@item.FileDir"/>
                 </td>
                 <td>
                     @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                     @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                     @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                 </td>
             </tr>
         }
    }


</table>
